.two {
    
    .jrpgstat {

        .body {

            .equipment{

                flex-basis: 100%;
                font-size: 10px;
                margin-top: 10%;

                @include tablet-only {
        
                    margin-top: 5%;
                    font-size: 14px;
                }
            
                @include desktop-only {

                    flex-basis: 40%;
                    margin-top: 0;
                    font-size: 13px;
                }


                h3 {

                    width: 330px;
                    display: flex;
                    justify-content: center;
                    flex-basis: 100%;
                    margin: 0 0 15px 0;

                    @include desktop-only {

                        margin: 20px 0 20px 7%;
                    }

                    &::before {

                        content: "";
                        width: 293px;
                        height: 30px;
                        position: absolute;
                        background: $neutral_color;
                        border-radius: 25px;
                        opacity: 0.7;
                        z-index: -1;
                        left: 8%;
                        top:-6px;

                        @include tablet-only {

                            left: 9%;
                        }

                        @include small-desktop-only {

                            left: 11%;
                        }

                        @include desktop-only {

                            left: 8%;
                            width: 320px;
                            top:-4px;
                        }
                    }

                    &.smallBack{

                        width: 92px;
                        
                        @include desktop-only {

                            width: 102px;
                        }
                    
                        &::before {

                            width: 90px;
                            left: 8%;

                            @include tablet-only {

                                left: 14%;
                            }

                            @include small-desktop-only {

                                left: 20%;
                            }

                            @include desktop-only {

                                width: 92px;
                                left: 22%;
                            }
                        }
                    }
                }

                .weapons {

                    width: 100%;
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    font-family: "Overpass";

                    @include desktop-only {

                        width: 90%;
                    }

                    .weapon {

                        margin: 10px 0 10px 0;
                        flex-basis: 90%;
                        height: 50px;
                        border-radius: 5px;
                        padding: 2px 0px 2px 2px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &::before {

                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(94,94,94,1) 100%);
                            border: 1px solid black;
                            border-radius: 5px;
                            padding: 2px 0px 2px 15px;
                        }

                        &.active::before{

                            border: 2px solid #fff;
                            background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(185,185,185,1) 100%);
                        }

                        .value {

                            position: relative;
                            z-index: 2;
                            font-weight: bold;
                            color: #fff;
                            padding-left: 7px;
                            display: inline-block;

                            @include tablet-only {

                                padding-left: 15px;
                            }
                        }

                        &.active .value {

                            color: #000;
                        }

                        img {
                            
                            height: 40px;
                            position: relative;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}