.two {
    
    .jrpgstat {

        .body {

            .stats{

                .skills {

                    flex-basis: 100%;
                    height: 60%;
                }
            }

            .caracter{

                display: none;

                @include tablet-only {
        
                }
            
                @include desktop-only {
                    display: block;
                    flex-basis: 20%;
                    -o-object-fit: cover;
                       object-fit: cover;
                }

                img {
                    
                    width: 100%;
                }
            }
        }
    }
}