.two {

    .jrpgstat {

        .body {

            .stats{

                .skills {

                    h3 {

                        width: 210px;
                        display: flex;
                        justify-content: center;

                        @include desktop-only {
    
                            width: 285px;
                        }

                        &::before {

                            content: "";
                            width: 210px;
                            height: 30px;
                            position: absolute;
                            background: $neutral_color;
                            border-radius: 25px;
                            opacity: 0.7;
                            z-index: -1;
                            left: 3%;
                            top:-6px;
    
                            @include desktop-only {
    
                                width: 285px;
                                top:-4px;
                                left: 7%;
                            }
                        }
                    }

                    .capacities {

                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-items: center;

                        @include tablet-only {
        
                        }
                    
                        @include desktop-only {
                            height: 90%;
                        }

                        .capacity {

                            position: relative;
                            flex-basis: 45%;
                            border-radius: 5px;
                            padding: 2px 0px 2px 15px;
                            display: flex;
                            color: #FFF;
                            font-weight: bold;

                            &.active {

                                color: #000;
                            }
                            
                            &::before {

                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(94,94,94,1) 100%);
                                border: 1px solid black;
                                border-radius: 5px;
                                padding: 2px 0px 2px 15px;


                            }

                            &.active::before{

                                border: 2px solid #fff;
                                background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(185,185,185,1) 100%);

                            }

                            img {

                                height: 20px;
                                margin-left: -7% ;
                                position: relative;
                                z-index: 1;

                                @include tablet-only {
        
                                }
                            
                                @include desktop-only {

                                    height: 30px;
                                    margin-left: -3% ;
                                }
                            }

                            .valueName {

                                position: relative;
                                margin-top: auto;
                                margin-bottom: auto;
                                top: 0;
                                bottom: 0;
                                margin-left: 2px;
                                font-size: 11px;

                                @include tablet-only {
        
                                }
                            
                                @include desktop-only {

                                    font-size: 15px;
                                    margin-left: 15px;
                                }
                            }

                            
                            .bar {

                                position: relative;
                                margin-top: auto;
                                margin-bottom: auto;
                                margin-left: auto;
                                top: 0;
                                bottom: 0;
                                right: 19%;
                                z-index: 2;
                                flex-basis: 30%;
                                height: 12px;
                                border-radius: 15px;
                                background: rgba(74,74,74,1);
                                border: 2px solid #fff;

                                @include tablet-only {
        
                                }
                            
                                @include desktop-only {

                                    right: 22%;
                                }

                                &::before {

                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 2;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 15px;
                                    border: 1px solid #000;
                                }

                                &::after {

                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: 1;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 15px;
                                    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
                                    transform-origin: left center;
                                }

                                &.zero {

                                    &::after {
                                    transform: scaleX(0);
                                    }
                                }

                                &.five {

                                    &::after {
                                    transform: scaleX(0.2);
                                    }
                                }

                                &.ten {

                                    &::after {
                                    transform: scaleX(0.4);
                                    }
                                }

                                &.fiveteen {

                                    &::after {
                                    transform: scaleX(0.6);
                                    }
                                }

                                &.twenty {

                                    &::after {
                                    transform: scaleX(0.8);
                                    }
                                }

                                &.twentyfive {

                                    &::after {
                                    transform: scaleX(1);
                                    }
                                }

                            }

                            .value {

                                position: absolute;
                                margin-right: 2%;
                                top: 25%;
                                right: 0;
                                font-size: 8px;

                                @include tablet-only {
        
                                }
                            
                                @include desktop-only {

                                    font-size: 15px;
                                }
                            }

                            &.empty::before {
                                
                                background: none;
                                border: none;
                            }
                        }
                    }
                }
            }
        }
    }
}