.two {
    
    .jrpgstat {

        .footer {

            .others {

                flex-basis: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 5%;

                @include tablet-only {
        
                }
            
                @include desktop-only {

                    flex-basis: 35%;
                    justify-content: space-around;
                    margin-right: 0;
                }

                h3 {
            
                    &::after {

                        width: 100%;
                        left: 5%;
                    }

                    @include tablet-only {
        
                    }
                
                    @include desktop-only {

                        left: 15%;
                    }
                }

                .other {

                    flex-basis: 33%;
                    display: flex;
                    justify-content: space-between;
                    margin-left: 0%;

                    @include tablet-only {
        
                    }
                
                    @include desktop-only {

                        margin-left: 10%;
                        flex-basis: 27%;
                    }

                    img {
                        
                        margin-left: 10px;
                        height: 25px;

                        @include tablet-only {
        
                        }
                    
                        @include desktop-only {
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}