.tripleContainer {
    
    display: flex;
    align-items: center;

    .triplePhoto {

        max-height: 430px;
        max-width: 610px;
        position: relative;
        margin-right: 50vw;
        margin-bottom: 22vw;
        margin-top: 10vw;
        scale: (1);

    
        @include tablet-only {
            margin-top: 10vw;
            margin-right: 43vw;
            margin-bottom: 30vw;
            scale: (0.8);
        }

        @include small-desktop-only {
            scale: (0.5);
            margin-right: 15vw;
            margin-top: 3vw;
            margin-bottom: 12vw;
        }
    
        @include desktop-only {
            margin-top: 0;
            margin-right: 15vw;
            margin-bottom: 17vw;
            margin-left: 0;
            scale: (0.5);
        }
    
        &::before {
    
            content: "";
            width: 40vw;
            height: 40vw;
            border-radius: 2vw;
            border: 2px solid $primary_color;
            position: absolute;
            left: -5vw;
            top: -5vw;
            z-index: 0;
            overflow: auto;
        }
    
        &::after {
    
            content: "";
            width: 10vw;
            height: 10vw;
            border-radius: 2vw;
            border: 2px solid $primary_color;
            position: absolute;
            left: 36vw;
            top: 36vw;
            z-index: 0;
        }
    
        .squareOne {
    
            width: 40vw;
            height: 40vw;
            border-radius: 2vw;
            position: absolute;
            overflow: hidden;
            z-index: 1;
    
            img {
    
                position: absolute;
                top: -1vw;
                left: 0;
                min-width:  61vw;
                height:  50vw;
            }
        }
        
        .squareTwo {
    
            width: 20vw;
            height: 20vw;
            border-radius: 2vw;
            position: absolute;
            left: 41vw;
            top: 6vw;
            overflow: hidden;
            z-index: 1;
    
            img {
    
                position: absolute;
                left: -41vw;
                top: -7vw;
                min-width:  61vw;
                height:  50vw;
            }
        }
        
        .squareThree {
    
            width: 15vw;
            height: 15vw;
            border-radius: 2vw;
            position: absolute;
            left: 41vw;
            top: 27vw;
            overflow: hidden;
            z-index: 1;
    
            img {
                
                position: absolute;
                left: -41vw;
                top: -28vw;
                min-width: 61vw;
                height:  50vw;
            }
        }
    }
}