@font-face {
    font-family: "Roboto";
    src: url('../../assets/fonts/roboto.ttf');
}

@font-face {
    font-family: "Anton";
    src: url('../../assets/fonts/anton.ttf');
}

@font-face {
    font-family: "Bahnschrift";
    src: url('../../assets/fonts/bahnschrift.ttf');
}

@font-face {
    font-family: "BrunoAce";
    src: url('../../assets/fonts/brunoace.ttf');
}

@font-face {
    font-family: "Metamorphous";
    src: url('../../assets/fonts/metamorphous.ttf');
}

@font-face {
    font-family: "Overpass";
    src: url('../../assets/fonts/overpass.ttf');
}