@font-face {
    font-family: "Roboto";
    src: url('../../assets/fonts/roboto.ttf');
}

@font-face {
    font-family: "Anton";
    src: url('../../assets/fonts/anton.ttf');
}

@font-face {
    font-family: "Bahnschrift";
    src: url('../../assets/fonts/bahnschrift.ttf');
}
