// NIGHT PALETTE

$neutral_color : #191825;
$neutral_alt_color: #000;
$primary_color: #9471fd;
$secondary_color: #FFA3FD;
$tertiary_color: #F0CAA3;

// CANDYSHOP PALETTE

// $neutral_color : #FDF4F5;
// $neutral_alt_color: #000;
// $primary_color: #3580a8;
// $secondary_color: #a84f76;
// $tertiary_color: #BA90C6 ;

// RED BLUE PALETTE

// $neutral_color : #FDF4F5;
// $neutral_alt_color: #000;
// $primary_color: #08D9D6;
// $secondary_color: #797777;
// $tertiary_color: #FF2E63 ;

// OCEAN PALETTE

// $neutral_color : #FFF;
// $neutral_alt_color: #0A2647;
// $primary_color: #5170FD;
// $secondary_color: #4636FC;
// $tertiary_color:  #60ABFB;

// RUBY PALETTE

// $neutral_color : #FAF8F1;
// $neutral_alt_color: #4C0033;
// $primary_color: #790252;
// $secondary_color: #AF0171;
// $tertiary_color:  #E80F88;

// // PEACH PALETTE

// $neutral_color : #FFF;
// $neutral_alt_color: #000;
// $primary_color: #FF9494;
// $secondary_color: #b35858;
// $tertiary_color:  #f36666;

// GOLD PALETTE

// $neutral_color : #000;
// $neutral_alt_color: #000;
// $primary_color: #ee9b00;
// $secondary_color: #916f00;
// $tertiary_color:  #fdd17f;

$slidingTextWidth: 97%;

$breakpoints: (
    tablet: 768px,
    desktop: 1280px,
);
