footer {
    
    display: flex;
    align-items: center;
    background: $neutral_color;
    padding-top: 25px;
    flex-direction: column;
    color: $primary_color;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
    position: relative;

    img {

        width: 50px;
    }

    .copyright {
        
        padding: 15px 0 15px 0;
    }

    &::before {

        content: "";
        width: $slidingTextWidth;
        height: 2px;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: $primary_color;
    }
}