.introduction {

    display: flex;
    justify-content:space-around;
    height: 25%;
    font-family: "Bahnschrift";

    .triplePhoto {
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
        flex-basis: 20%;
    }

    &Text {
        position: relative;
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;

        h1 {
            position: relative;
            z-index: 1;
            flex-basis: 100%;
            font-size: 45px;
            color: $secondary_color;
            margin-bottom: 35px;
        }

        h2 {
            font-size: 35px;
            color: $tertiary_color;
            margin: 50px 0 20px 0;
        }

        p {
            font-size: 25px;
            color: $primary_color;
        }

        .secondText, .thirdText {
            flex-basis: 50%;
        }

        &::before {
            content: "";
            position: absolute;
            top: -55px;
            right: 0;
            z-index: 0;
            width  : 0;
            height : 0;
            border-left  : 70px solid transparent;
            border-right : 70px solid transparent;
            border-top   : 140px solid $primary_color;
            transform: rotate(50deg);
        }

        &::after {
            content: "";
            position: absolute;
            top: -52px;
            right: 3px;
            z-index: 0;
            width  : 0;
            height : 0;
            border-left  : 66px solid transparent;
            border-right : 66px solid transparent;
            border-top   : 132px solid $neutral_color;
            transform: rotate(50deg);
        }
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        z-index: 0;
        width  : 0;
        height : 0;
        border-left  : 70px solid transparent;
        border-right : 70px solid transparent;
        border-top   : 140px solid $primary_color;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        z-index: 0;
        width  : 0;
        height : 0;
        border-left  : 66px solid transparent;
        border-right : 66px solid transparent;
        border-top   : 132px solid $neutral_color;
    }

}