nav {

    .openButton {

        position: relative;
        cursor: pointer;
        width: 40px;
        height: 18px;

        &::before {
            content: "";
            width: 40px;
            height: 3px;
            background: $secondary-color;
            position: absolute;
            top: 0;
            left: 0;
        }
    
        &::after {
            content: "";
            width: 30px;
            height: 3px;
            background: $secondary-color;
            position: absolute;
            top: 15px;
            left: 10px;
        }
    }

}