.scroller {
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    height: 100vh;

    section {
        min-height: 100vh;
        height: 100%;
        overflow: auto;
        scroll-snap-align: start;
    }

    .one {
        background: $neutral_color;
        position: relative;
    }
    
    .two {
        background: none;
    }

    .three {
    background: $tertiary-color;
    }

    .four {
    background:  $primary-color;
    }
}
