*, ::before, ::after {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {

    text-decoration: none;
}

#root {

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    align-items: center;
    white-space: pre-line;

    .app-body {

        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        position: relative;
        background: $neutral_color;
        font-family: "Bahnschrift";

        main {
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 90%;
            margin-bottom: 50px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;

            @include tablet-only {

                width: 100%;
            }

            @include desktop-only {

                width: 90%;    
            }

            .portfolio {

                flex-basis: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: baseline;

                @include tablet-only {

                    width: 100%;    
                }
        
                @include desktop-only {

                    width: 95%;    
                }
            }
        }
    }
}

body {
    position: relative;
}